# Database configuration
DB_DATABASE=lingoaz
DB_ROOT_PASSWORD=secret123
DB_PASSWORD=secret
DB_USERNAME=lingoaz_user

# Redis configuration
REDIS_PASSWORD=£_9V?i5N0FeC

# Ports configuration
HTTP_PORT=80
HTTPS_PORT=443
PMA_PORT=8080

# phpMyAdmin configuration
PMA_ABSOLUTE_URI=http://lingoaz.online:8080/
